.element__basket {
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    border: none;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
}

.element__basket:hover {
    opacity: .6;
}