.page {
    background: #000000;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 60px;
    font-family: 'Inter', 'Arial';
    min-height: 100vh;
}

@media screen and (max-width: 890px) {
    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}