.elements__list {
    display: grid;
    padding: 0;
    margin: 0;
    row-gap: 20px;
    column-gap: 17px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 320px) {
    .elements__list {
        column-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
}